@import "./res/css/navbar.css";
@import "./res/css/informationtab.css";
@import "./res/css/user.css";

:root
{
  --text-colour: #fff;
}

.app
{
  display: flex;  
}

main
{
  width: 100%;
}

.wrapper
{
  width: 100%;
}

h1,h2,h3,h4,h5,h6,p
{
  margin: 0;
  padding: 0;
}
